{% extends "base.html" %}
{% block content %}
<div style="max-width: 400px; margin: 100px auto; text-align: center;" class="college-card">
    <h2>Admin Login</h2>
   <form method="POST">

    <input type="text" name="username" placeholder="Enter Admin Username" required style="width:100%; padding:10px;">
    
    <br><br>

    <input type="password" name="password" placeholder="Enter Admin Password" required style="width:100%; padding:10px;">
    
    <br><br>

    <button type="submit" class="btn-outline" style="width:100%;">Login</button>

</form>
</div>
{% endblock %}